*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    height: 99vh;
    width: 99vw;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* designing the form */
.p1{
height: 40%;
width: 25%;
margin-left: 2%;
margin-top: 5%;
border: 1px solid rebeccapurple;
}
#form1{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border:3px solid yellow;
}
.lbl{
margin: 5px;
font-size: 1.5rem;
}
.inpt{
    margin: 3px;
    padding: 2px;
    height: 10%;
}
.btn{
    margin-top: 10px;
    padding: 2px;
    height: 12%;
    width: 100px;
    margin-left: 35%;
    font-size: larger;
    font-weight: bolder;
    border: none;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}

/* second part that will be the rexommendation */
.p2{
    border: 1px solid black;
    margin-left: 3px;
    width: 70%;
    height: 99%;
    display: flex;
    flex-direction: column;
}
.p2 h1{
    margin-top: 10px;
    height: 10%;
    text-align: center;
}
.heading{
    width: 99%;
    height: 60%;
    border: 1px solid yellow;
}

.options{
    height: 99%;
    width: 99%;
    display: flex;
    flex-direction: row;
}
.op{
    height: 99%;
    width: 24%;
    margin: 0px 3px;
    border:1px solid green;
    background-color: aquamarine;
    top:0;
    transition: 1s ease;
}
.op:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
    
}
#saved{
    margin-top: 25px;
    font-size: larger;
    font-weight: bolder;

}